[submodule "seastar"]
	path = seastar
	url = ../seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = ../scylla-swagger-ui
	ignore = dirty
[submodule "abseil"]
	path = abseil
	url = ../abseil-cpp
[submodule "scylla-python3"]
	path = tools/python3
	url = ../scylla-python3
[submodule "tools/cqlsh"]
	path = tools/cqlsh
	url = ../scylla-cqlsh
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum.git
